 [submodule "Imp/Libs/GLFW"]
 	path = Imp/Libs/GLFW
	url = git@github.com:Leonixidas/glfw.git
[submodule "Imp/Libs/glm"]
	path = Imp/Libs/glm
	url = https://github.com/g-truc/glm

[submodule "Imp/Libs/box2d"]
	path = Imp/Libs/box2d
	url = https://github.com/Leonixidas/box2d
[submodule "Imp/Libs/spdlog"]
	path = Imp/Libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Imp/Libs/imgui"]
	path = Imp/Libs/imgui
	url = https://github.com/Leonixidas/imgui.git
